# Python virtual environment
venv/
*.venv
__pycache__/

# Python cache files
*.pyc
*.pyo
*.pyd

# Input and Output data folders
/input_videos/
/final_frames_dataset/

# YOLO model files
*.pt

# IDE and OS specific files
.vscode/
.idea/
.DS_Store

# Ultralytics settings
.ultralytics/
